@{
    ViewBag.Title = "À propos";
    string member1 = "Dennis Orozco Martinez";
    string member2 = "Andy Del Risco Manzanares";
    string member3 = "Filip Kulach";
    string member4 = "Vladimir Kvaratshelya";

}
@* vue pour la page d"information(à propos)*@
<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
</div>
<h3>@ViewBag.Message</h3>

<p>Projet développé dans le cadre du cours Génie logiciel : <br>conduite de projets informatiques, sesion été 2019.</br></p>
<p>Le projet a été devéloppé par les étudiants : </p>
<h5>@member1</h5>
<h5>@member2</h5>
<h5>@member3</h5>
<h5>@member4</h5>