@{
    ViewBag.Title = "Home Page";
}

@using GestionProjet.Models

@model LogPrUsTskComb

<div class="jumbotron">
    <h1>Gestion de Projets</h1>

</div>



@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="form-group centerlook">
        <p>
            Nom d'utilisateur: @Html.EditorFor(model => model.Login.UserID)
        </p>

    </div>

    <div class="form-group centerlook">
        <p>
            Nom d'utilisateur: @Html.EditorFor(model => model.Login.Password)
        </p>
    </div>

    <input type="submit" value="Valider" />
    <div>
        @Html.DisplayFor(model => model.Login.Message)
    </div>

}


<div>
    <table class="table">
        <tr>
            <th>
                Project Id
            </th>
            <th>
                Project Name
            </th>
            <th></th>
        </tr>
@{ 
    
}

        @foreach (var item in Model.ProjectsList)
        {
            <tr>
                <td>
                    @item.ProjectId
                </td>
                <td>
                    @item.ProjectName
                </td>
            </tr>
        }
    </table>
</div>