@{
    ViewBag.Title = "Accueil";
}

@using GestionProjet.Models

@model LogPrUsTskComb

<div class="jumbotron">
    <h1>Pro-manager</h1>
</div>


<div id="loginView">
    @{
        Html.RenderPartial("Login", Model);
    }
</div>

@if (Model.Login.AuthentificationValide == true)
{

    using (Html.BeginForm("TaskUserDays", "TaskUserDays", FormMethod.Post, new { target = "_blank" }))
    {
        if (Model.Login.Role == "Utilisateur")
        {
            <div class=jumbotron>
                <p>Feuille de temps</p>

                <div class="form-group centerlook">

                    <div class="form-group centerlook">
                        <p>
                            @Html.HiddenFor(model => model.Login.UserID)
                            Date du début de la semaine : @Html.EditorFor(model => model.Login.DateFT)
                        </p>
                    </div>

                    <input type="submit" value="Générer rapport" />

                </div>

            </div>
        }
    }

    <div class=jumbotron>
        <p>Projets</p>
        <div id="scrolltableProjets">
            <table class="table" id="ProjectsTable">
                <tr>
                    <th>
                        ID Projet
                    </th>
                    <th>
                        Nom Projet
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.ProjectsList)
                {
                    <tr onclick="loadTasksForProject(@item.ProjectId, '@Model.Login.Role')">
                        <td>
                            @item.ProjectId
                        </td>
                        <td>
                            @item.ProjectName
                        </td>
                        <td>
                            @if (Model.Login.Role == "Utilisateur")
                            {
                                <input type="submit" value="Modifier" disabled />
                            }
                            else
                            {
                                <input type="submit" value="Modifier" onclick="window.open('@Url.Action("Project", "Project", new { projectId = @item.ProjectId, target = "_blank" })')" />
                            }
                        </td>
                        <td>
                            @if (Model.Login.Role == "Utilisateur")
                            {
                                <input type="submit" value="Supprimer" disabled />
                            }
                            else
                            {
                                <input type="submit" value="Supprimer" id="deleteProject" onclick="deleteProject(@item.ProjectId)" />
                            }
                        </td>

                    </tr>
                }
            </table>
        </div>
        @if (Model.Login.Role != "Utilisateur")
        {
            <div class=row>
                <input type="submit" value="Créer un Projet" onclick="window.open('@Url.Action("Project", "Project", new { target = "_blank", projectId = 0 })')" />
            </div>
        }
    </div>

    <div id="dvTasksList">
        @{
            Html.RenderPartial("TasksList", Model);
        }
    </div>

    if (Model.Login.Role == "Admin" || Model.Login.Role == "Gestionnaire")
    {
        <div class=jumbotron>
            <p>Employés</p>
            <div id="scrolltableEmployes">
                <table class="table">
                    <tr>
                        <th>
                            Prenom Employé
                        </th>
                        <th>
                            Nom Employé
                        </th>
                    </tr>

                    @foreach (var item in Model.UsersList)
                    {
                        <tr>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.LastName
                            </td>
                            <td>
                                <input type="submit" value="Modifier" onclick="window.open('@Url.Action("User", "User", new { firstName = @item.FirstName, lastName = @item.LastName, newUser = false })')" />

                            </td>
                            <td>
                                <input type="submit" value="Supprimer" id="deleteUser" onclick="deleteUser('@item.FirstName', '@item.LastName')" />

                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div class=row>
                <input type="submit" value="Créer un Employé" onclick="window.open('@Url.Action("User", "User", new { target = "_blank", firstName = "", lastName = "", newUser = true })')" />
            </div>
        </div>
    }

}

<script type="text/javascript">
    function deleteProject(projectId) {
        $.ajax({
            url: "/Home/deleteProject",
            type: 'POST',
            data: { projectId: projectId },
            success: function (result) {
                alert(result);
                location.reload();
            },
            error: function (xhr, status, error) {
                alert(status + error);
            }
        });
    }

    function deleteUser(firstName, lastName) {
        $.ajax({
            url: "/Home/deleteUser",
            type: 'POST',
            data: { firstName: firstName, lastName: lastName },
            success: function (result) {
                alert(result);
                location.reload();
            },
            error: function (xhr, status, error) {
                alert("Erreur");
            }
        });
    }

    function deleteTask(idTask) {
        $.ajax({
            url: "/Home/deleteTask",
            type: 'POST',
            data: { idTask: idTask },
            success: function (result) {
                alert(result);
                location.reload();
            },
            error: function (xhr, status, error) {
                alert("Erreur");
            }
        });
    }

    function loadTasksForProject(projectID, loginRole) {
        //alert("Project clicked!");
        $("#dvTasksList").load('@(Url.Action("GetTasksForProject", "Home",null, Request.Url.Scheme))?projectId=' + projectID + '&loginRole=' + loginRole);

    }


    function getTasksList(projectId, loginRole) {
        //alert("Project clicked before!");
        $.ajax({
            url: "/Home/GetTasksForProject",
            type: 'POST',
            data: { projectId: projectId, loginRole: loginRole },
            //dataType: 'html',
            success: function (result) {
                //var listObjects = JSON.parse(result);
                //alert("I'm in!");
                $("#dvTasksList").html(result);

                //   location.reload();
            },
            error: function (xhr, status, error) {
                alert("Erreur");
            }
        });
    }

    //function parseJsonToTaskList(result) {
    //    tasksList = JSON.parse(result);

    //    al
    //}

</script>

<style>

    #ProjectsTable tr:hover {
        background-color: rgba(0, 255, 255, 0.34);
    }

    #scrolltable table tr:hover {
        background-color: rgba(0, 255, 255, 0.34);
    }

    #scrolltableEmployes table tr:hover {
        background-color: rgba(0, 255, 255, 0.34);
    }
    /*table deroulante pour la liste de taches*/
    #scrolltable {
        margin-top: 20px;
        height: 300px;
        overflow: auto;
    }

    #scrolltableEmployes, #scrolltableProjets {
        margin-top: 20px;
        height: 180px;
        overflow: auto;
    }
</style> 