@{
    ViewBag.Title = "Accueil";
}

@using GestionProjet.Models

@model LogPrUsTskComb

<div class="jumbotron">
    <h1>Pro-manager</h1>
</div>

@{
    List<Task> tasksList = new List<Task>();
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="jumbotron">
        <div class="form-group centerlook">
            <p>
                Nom d'utilisateur: @Html.EditorFor(model => model.Login.UserID)
            </p>

        </div>

        <div class="form-group centerlook">
            <p>
                Mot de passe   : @Html.EditorFor(model => model.Login.Password)
            </p>
        </div>

        <input type="submit" value="Valider" />
        <div>
            @Html.DisplayFor(model => model.Login.Message)
        </div>
    </div>
}

@if (Model.Login.AuthentificationValide == true)
{
    <div class=jumbotron>
        <p>Projets</p>
        <table class="table" id="ProjectsTable">
            <tr>
                <th>
                    ID Projet
                </th>
                <th>
                    Nom Projet
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.ProjectsList)
            {
                <tr onclick="loadTasksForProject(@item.ProjectId)">
                    <td>
                        @item.ProjectId
                    </td>
                    <td>
                        @item.ProjectName
                    </td>
                    <td>
                        @if (Model.Login.Role == "Utilisateur")
                        {
                            <input type="submit" value="Modifier" disabled />
                        }
                        else
                        {
                            <input type="submit" value="Modifier" onclick="window.open('@Url.Action("Project", "Project", new {projectId=@item.ProjectId, target = "_blank"})')" />
                        }
                    </td>
                    <td>
                        @if (Model.Login.Role == "Utilisateur")
                        {
                            <input type="submit" value="Supprimer" disabled />
                        }
                        else
                        {
                            <input type="submit" value="Supprimer" id="deleteProject" onclick="deleteProject(@item.ProjectId)" />
                        }
                    </td>

                </tr>
            }
        </table>
        @if (Model.Login.Role != "Utilisateur")
        {
            <div class=row>
                <input type="submit" value="Créer un Projet" onclick="window.open('@Url.Action("Project", "Project", new { target="_blank", projectId=0 })')" />
            </div>
        }
    </div>



    <div class=jumbotron>
        <p>Employés</p>
        <table class="table">
            <tr>
                <th>
                    Prenom Employé
                </th>
                <th>
                    Nom Employé
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.UsersList)
            {
                <tr>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @if (Model.Login.Role != "Admin")
                        {
                            <input type="submit" value="Modifier" disabled />
                        }
                        else
                        {
                            <input type="submit" value="Modifier" onclick="window.open('@Url.Action("User", "User", new {firstName = @item.FirstName, lastName = @item.LastName, newUser = false })')" />
                        }
                    </td>
                    <td>
                        @if (Model.Login.Role != "Admin")
                        {
                            <input type="submit" value="Supprimer" disabled />
                        }
                        else
                        {
                            <input type="submit" value="Supprimer" id="deleteUser" onclick="deleteUser('@item.FirstName', '@item.LastName')" />
                        }
                    </td>
                </tr>
            }
        </table>
        @if (Model.Login.Role == "Admin")
        {
            <div class=row>
                <input type="submit" value="Créer un Employé" onclick="window.open('@Url.Action("User", "User", new { target="_blank", firstName = "", lastName ="", newUser = true })')" />
            </div>
        }
    </div>

    <div id="dvTasksList">
        @{
            Html.RenderPartial("TasksList", Model);
        }
    </div>

}

<script type="text/javascript">
    function deleteProject(projectId) {
        $.ajax({
            url: "/Home/deleteProject",
            type: 'POST',
            data: { projectId: projectId },
            success: function (result) {
                alert(result);
                location.reload();
            },
            error: function (xhr, status, error) {
                alert(status + error);
            }
        });
    }

    function deleteUser(firstName, lastName) {
        $.ajax({
            url: "/Home/deleteUser",
            type: 'POST',
            data: { firstName: firstName, lastName: lastName },
            success: function (result) {
                alert(result);
                location.reload();
            },
            error: function (xhr, status, error) {
                alert("Erreur");
            }
        });
    }

    function deleteTask(idTask) {
        $.ajax({
            url: "/Home/deleteTask",
            type: 'POST',
            data: { idTask: idTask },
            success: function (result) {
                alert(result);
                location.reload();
            },
            error: function (xhr, status, error) {
                alert("Erreur");
            }
        });
    }

    function loadTasksForProject(projectID) {
        //alert("Project clicked!");
        $("#dvTasksList").load('@(Url.Action("GetTasksForProject", "Home",null, Request.Url.Scheme))?projectId=' + projectID);

    }

  /*  
    function getTasksList(projectId) {
        //alert("Project clicked before!");
        $.ajax({
            url: "/Home/GetTasksForProject",
            type: 'POST',
            data: { projectId: projectId },
            dataType: 'html',
            success: function (result) {
                //var listObjects = JSON.parse(result);
                alert("I'm in!");
                $("#dvTasksList").html(result);

                //   location.reload();
            },
            error: function (xhr, status, error) {
                alert("Erreur");
            }
        });
    }
*/
    //function parseJsonToTaskList(result) {
    //    tasksList = JSON.parse(result);

    //    al
    //}

</script>

<style>

    #ProjectsTable tr:hover {
        background-color: rgba(0, 255, 255, 0.34);
    }
</style>