@using GestionProjet.Models

@model LogPrUsTskComb

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

        <div class="jumbotron">
            <div class="form-group centerlook">
                <p id="userName">
                    Nom d'utilisateur: @Html.EditorFor(model => model.Login.UserID)
                    @Html.ValidationMessageFor(model => model.Login.UserID, "", new { @class = "text-danger  " })
                </p>

            </div>

            <div class="form-group centerlook">
                <p>
                    Mot de passe   : @Html.EditorFor(model => model.Login.Password)
                    @Html.ValidationMessageFor(model => model.Login.Password, "", new { @class = "text-danger  " })
                </p>
            </div>

            <input type="submit" name="submit" value="Valider" />
            <div>
                @Html.DisplayFor(model => model.Login.Message)
            </div>
        </div>

}


