@using GestionProjet.Models

@model LogPrUsTskComb
@* Liste des tâches *@
<div class=jumbotron>
    <p>Tâches</p>
    <div id="scrolltable">
        <table class="table">
            <tr>
                <th>
                    Tâche
                </th>
                <th>
                    ID Projet
                </th>
                <th>
                    Statut
                </th>
                <th>
                    Nombre d'heures travaillées
                </th>
                <th>
                    Nombre d'heures estimées
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.TasksList)
            {
                <tr>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.idProjet
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.nbHeuresTravaille
                    </td>
                    <td>
                        @item.nbHeuresEstime
                    </td>
                    <td>
                        @* Différents boutons apparaissent selon les rôles*@
                        @if (Model.Login.Role == "Utilisateur")
                        {
                            <input type="submit" value="Saisir les heures travaillées" onclick="window.open('@Url.Action("TaskUser", "TaskUser", new {description = @item.Description, idProjet = @item.idProjet, newTask = false, UserID = Model.Login.UserID})')" />
                        }
                        else
                        if (Model.Login.Role != "Gestionnaire")
                        {
                            <input type="submit" value="Modifier" disabled />
                        }
                        else
                        {
                            <input type="submit" value="Modifier" onclick="window.open('@Url.Action("Task", "Task", new {description = @item.Description, idProjet = @item.idProjet, newTask = false})')" />
                        }
                    </td>
                    <td>
                        @if (Model.Login.Role != "Gestionnaire")
                        {
                            if (Model.Login.Role != "Utilisateur")
                            {
                                <input type="submit" value="Supprimer" disabled />
                            }
                        }
                        else
                        {
                            <input type="submit" value="Supprimer" onclick="deleteTask(@item.IdTask)" />
                        }

                    </td>
                    <td>

                        @if (Model.Login.Role != "Gestionnaire")
                        {
                            if (Model.Login.Role != "Utilisateur")
                            {
                                <input type="submit" value="Assigner" disabled />
                            }
                        }
                        else
                        {
                           
                            <input type="submit" value="Assigner" onclick="window.open('@Url.Action("TaskAssign", "TaskAssign", new {description = @item.Description, idProjet = @item.idProjet, newTask = false})')" /> 
                        }

                    </td>
                </tr>
            }
        </table>
    </div>
    @if (Model.Login.Role == "Gestionnaire")
    {
        <div class=btn-group>
            <input type="submit" value="Créer une Tache" onclick="window.open('@Url.Action("Task", "Task", new {description = "", idProjet = 0, newTask = true})')" />
  
        </div>
    }
    




